/* Base Colors */
.mbc-base-color,
.btn-auqa4,
.content-about h2,
.content-about .intro-text,
.content-about h2.block-title,
.content-about h2.title,
.content-about,
.content-boxed {
  color: #426672;
}
.mbc-base-bg,
.btn-auqa1,
header#navbar,
header#navbar .dropdown-menu,
header#navbar .navbar-scrolled,
.content-boxed .content-box-inner .title,
.content-boxed .content-box-inner .cta a:hover,
.btn-197:hover,
.footer-wrap .footer-copyright-social {
  background-color: #426672;
}
.mbc-base-border,
.btn-auqa1,
header#navbar .dropdown-menu,
.cb-bordered-2,
.btn-197:hover {
  border-color: #426672;
}
.mbc-base-border-left {
  border-left-color: #426672;
}
.mbc-base-border-right {
  border-right-color: #426672;
}
.mbc-base-border-top {
  border-top-color: #426672;
}
.mbc-base-border-bottom {
  border-bottom-color: #426672;
}
.mbc-base-outline-color {
  outline-color: #426672;
}
.mbc-base-column-rule-color {
  -webkit-column-rule-color: #426672;
  -moz-column-rule-color: #426672;
  column-rule-color: #426672;
}

/* secondary Colors */
.mbc-secondary-color,
.content-boxed h2,
.content-boxed .intro-text,
.content-boxed h2.block-title,
.content-boxed h2.title,
.content-boxed .face-icon,
.content-boxed .content-box-inner .cta a {
  color: #616161;
}

.mbc-secondary-bg,
.btn-auqa2,
.btn-197,
.content-positive,
.btn-199,
.footer-wrap .footer-menus,
.header-aqua-slider .carousel-indicators  li.active span {
  background-color: #616161;
  /*rgba(34, 142, 189, 0.5); /*#616161;*/
}
.mbc-secondary-border,
.btn-auqa2,
.btn-197 {
  border-color: #616161;
}
.mbc-secondary-border-left {
  border-left-color: #616161;
}
.mbc-secondary-border-right {
  border-right-color: #616161;
}
.mbc-secondary-border-top {
  border-top-color: #616161;
}
.mbc-secondary-border-bottom {
  border-bottom-color: #616161;
}
.mbc-secondary-outline-color {
  outline-color: #616161;
}
.mbc-secondary-column-rule-color {
  -webkit-column-rule-color: #616161;
  -moz-column-rule-color: #616161;
  column-rule-color: #616161;
}

/* link Colors */
.mbc-link-color,
.breadcrumb>li+li:before,
a,
.control-group .help-inline,
.help-block {
  color: #1c343c;
}
.mbc-link-bg,
.header-aqua-slider .carousel-indicators li,
.btn-auqa3,
.footer-wrap .footer-message {
  background-color: #1c343c;
  /*rgba(98, 194, 242, 0.5); /*#1c343c;*/
}
.mbc-link-border,
.btn-auqa3 {
  border-color: #1c343c;
}
.mbc-link-border-left {
  border-left-color: #1c343c;
}
.mbc-link-border-right {
  border-right-color: #1c343c;
}
.mbc-link-border-top {
  border-top-color: #1c343c;
}
.mbc-link-border-bottom {
  border-bottom-color: #1c343c;
}
.mbc-link-outline-color {
  outline-color: #1c343c;
}
.mbc-link-column-rule-color {
  -webkit-column-rule-color: #1c343c;
  -moz-column-rule-color: #1c343c;
  column-rule-color: #1c343c;
}

/* text Colors */
.mbc-text-color {
  color: #212121;
}
.mbc-text-bg {
  background-color: #212121;
}
.mbc-text-border {
  border-color: #212121;
}
.mbc-text-border-left {
  border-left-color: #212121;
}
.mbc-text-border-right {
  border-right-color: #212121;
}
.mbc-text-border-top {
  border-top-color: #212121;
}
.mbc-text-border-bottom {
  border-bottom-color: #212121;
}
.mbc-text-outline-color {
  outline-color: #212121;
}
.mbc-text-column-rule-color {
  -webkit-column-rule-color: #212121;
  -moz-column-rule-color: #212121;
  column-rule-color: #212121;
}

/* background Colors */
.mbc-background-color,
.btn-auqa1,
.btn-auqa2,
.btn-auqa3,
.btn-auqa5,
header#navbar .navbar-nav>li>a,
.header-aqua-slider h1,
.name.navbar-brand,
.name.navbar-brand:hover,
header#navbar .dropdown-menu > li > a,
header#navbar .navbar-nav li a,
header#navbar .navbar-nav>li>a:focus,
header#navbar .navbar-nav>li>a:hover,
header#navbar .navbar-nav>li>a.active,
header#navbar .navbar-nav>li.open,
header#navbar .navbar-nav .dropdown a:focus,
header#navbar .navbar-nav .dropdown a:hover,
header#navbar .navbar-nav .dropdown a.active,
.btn-auqa1:hover,
.btn-auqa2:hover,
.btn-auqa3:hover,
.btn-auqa5:hover,
header#navbar .navbar-text,
.content-boxed .content-box-inner .title,
.btn-197,
.btn-197:hover,
.btn-199,
.content-positive,
.content-positive h2.block-title,
.content-positive h2,
.content-positive h2.title,
.content-positive .intro-text,
.content-positive a,
.content-positive a:hover {
  color: #fdfdfd;
}
.footer-wrap .footer-message h2,
.force-menu-hr ul.menu li a,
.footer-wrap .footer-social .fa,
.footer-wrap .footer-social a,
.footer-wrap h2,
.footer-wrap h3,
.footer-wrap h4,
.footer-wrap h5,
.footer-wrap h6,
.footer-wrap .footer-menus-signup .title h2,
.footer-wrap .footer-menu ul li a,
.footer-wrap {
  color: #fdfdfd !important;
}

.mbc-background-bg,
body,
.btn-auqa4,
header#navbar  .navbar-toggle .icon-bar,
.panel-default,
.header-aqua-slider .carousel-indicators  li.active {
  background-color: #fdfdfd;
}
.mbc-background-border,
.btn-auqa4,
.btn-auqa5,
.btn-199 {
  border-color: #fdfdfd;
}
.mbc-background-border-left {
  border-left-color: #fdfdfd;
}
.mbc-background-border-right {
  border-right-color: #fdfdfd;
}
.mbc-background-border-top {
  border-top-color: #fdfdfd;
}
.mbc-background-border-bottom {
  border-bottom-color: #fdfdfd;
}
.mbc-background-outline-color {
  outline-color: #fdfdfd;
}
.mbc-background-column-rule-color {
  -webkit-column-rule-color: #fdfdfd;
  -moz-column-rule-color: #fdfdfd;
  column-rule-color: #fdfdfd;
}

/* sidebars Colors */
.mbc-sidebars-color {
  color: #eeeeee;
}
.mbc-sidebars-bg,
.content-boxed .content-box-inner,
.breadcrumb,
.panel-footer,
.panel-default>.panel-heading,
.table-striped>tbody>tr:nth-child(odd)>td.module,
.table>tbody>tr>td.module,
td.module,
.input-group-addon,
aside .block {
  background-color: #eeeeee;
}
.mbc-sidebars-border,
.panel-footer,
.panel-default,
.tabs-left>.tab-content,
.tabs-right>.tab-content {
  border-color: #eeeeee;
}
.mbc-sidebars-border-left {
  border-left-color: #eeeeee;
}
.mbc-sidebars-border-right {
  border-right-color: #eeeeee;
}
.mbc-sidebars-border-top,
.tabs-below>.nav-tabs,
.tabs-below>.nav-tabs>li>a:focus,
.tabs-below>.nav-tabs>li>a:hover {
  border-top-color: #eeeeee;
}
.mbc-sidebars-border-bottom,
.nav-tabs {
  border-bottom-color: #eeeeee;
}
.mbc-sidebars-outline-color {
  outline-color: #eeeeee;
}
.mbc-sidebars-column-rule-color {
  -webkit-column-rule-color: #eeeeee;
  -moz-column-rule-color: #eeeeee;
  column-rule-color: #eeeeee;
}

/*------------  Transparent BG  --------*/

header#navbar li>a:focus,
header#navbar li>a:hover,
header#navbar li>a.active,
header#navbar li a:focus,
header#navbar li a:hover,
header#navbar li a.active,
header#navbar .dropdown-menu>li>a:focus,
header#navbar .dropdown-menu>li>a:hover,
header#navbar .dropdown-menu>li>a.active,
header#navbar .dropdown-menu>li>a,
body.path-frontpage header#navbar.navbar-static-top,
body.path-frontpage header#navbar.navbar-fixed-top.affix-top,
header#navbar nav,
header#navbar .navbar-nav li a,
header#navbar .navbar-nav>li>a:focus,
header#navbar .navbar-nav>li>a:hover,
header#navbar .navbar-nav>li>a.active,
header#navbar .navbar-nav>li.open,
header#navbar .navbar-nav .dropdown a:focus,
header#navbar .navbar-nav .dropdown a:hover,
header#navbar .navbar-nav .dropdown a.active,
.btn-auqa5,
.footer-wrap .nav>li>a:focus,
.footer-wrap .nav>li>a:hover {
  background-color: transparent;
}

/*------------  Responsive BG  --------*/

@media (max-width: 767px) {
  header#navbar .navbar-toggle {
    background-color: transparent;
  }
  header#navbar ul.navbar-nav {
    border-color: #426672;
  }
  header#navbar .navbar-nav > li > a:hover,
  header#navbar .dropdown-menu>li>a,
  header#navbar .dropdown-menu>li>a:hover,
  header#navbar .dropdown-menu>li>a.active,
  header#navbar #navigation ul > li .active,
  header#navbar .navbar-scrolled .navbar-nav .open .dropdown-menu>li>a {
    color: #fdfdfd;
  }
  header#navbar .nav .open>a,
  .nav .open>a:hover,
  .nav .open>a:focus,
  header#navbar .nav .open>a,
  .nav .open>a:hover,
  .nav .open>a:focus {
    border-color: #fdfdfd;
  }
  header#navbar .navbar-nav .dropdown a:focus,
  header#navbar .navbar-nav .dropdown a:hover,
  header#navbar .navbar-nav .dropdown a.active,
  header#navbar .navbar-nav > li > a:hover,
  header#navbar .navbar-scrolled .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #676767;
  }
  header#navbar .navbar-toggle,
  header#navbar .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }
  header#navbar ul.navbar-nav,
  header#navbar .nav .open>a,
  .nav .open>a:hover,
  .nav .open>a:focus,
  header#navbar .nav .open>a,
  .nav .open>a:hover,
  .nav .open>a:focus   header#navbar .nav .open>a,
  .nav .open>a:hover,
  .nav .open>a:focus {
    background-color: #426672;
  }
}


/* This is non colorable */
.content-boxed .content-box-inner .cta {
  border-top-color: #d2d2d2;
}
.content-boxed .content-box-inner .cta a:hover {
  color: #c5c5c5;
}
